@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #7F1A7E;
  background-image: url("../src/assets/images/gamehub\ 5.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}